body{
    margin:0;
    padding:0;
}
.container{
    width: 80%;
    margin:auto;
}
.icon-area ul{
    list-style: none;
}
.icon-area ul li{
    display:inline;
}
.icon-area ul li a{
    font-size:40px;
    background-color:black;
    color:wheat;
    padding:15px 20px;
    display: inline-block;
    border-radius: 50%;

}
.icon-area ul li a:hover{
    background-color: green;
    color: red;
    transition: 3s;
}


.container {
    width: 80%;
    margin:auto;
}
.icon-area ul{
    list-style: none;
}
.icon-area ul li{
    display:inline;
}
.icon-area ul li a{
    font-size:40px;
    background-color:black;
    color:wheat;
    padding:15px 20px;
    display: inline-block;
    border-radius: 50%;

}
.icon-area ul li a:hover{
    background-color: green;
    color: red;
    transition: 3s;
}